{"openapi":"3.1.0","info":{"title":"芋道快速开发平台","description":"提供管理后台、用户 App 的所有功能","contact":{"url":"http://dashboard.yudao.iocoder.cn","email":"xingyu4j@vip.qq.com"},"license":{"name":"MIT","url":"https://gitee.com/zhijiantianya/ruoyi-vue-pro/blob/master/LICENSE"},"version":"1.0.0"},"servers":[{"url":"http://server.api.xiancaozhenxuan.cn","description":"Generated server url"}],"security":[{"Authorization":[]},{"Authorization":[]}],"paths":{"/app-api/trade/order/update-address":{"put":{"tags":["用户 App - 交易订单"],"summary":"修改订单收货地址","operationId":"updateOrderAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeOrderUpdateAddressReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/trade/order/receive":{"put":{"tags":["用户 App - 交易订单"],"summary":"确认交易订单收货","operationId":"receiveOrder","parameters":[{"name":"id","in":"query","description":"交易订单编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/trade/cart/update-selected":{"put":{"tags":["用户 App - 购物车"],"summary":"更新购物车商品选中","operationId":"updateCartSelected","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCartUpdateSelectedReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/trade/cart/update-count":{"put":{"tags":["用户 App - 购物车"],"summary":"更新购物车商品数量","operationId":"updateCartCount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCartUpdateCountReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/trade/cart/reset":{"put":{"tags":["用户 App - 购物车"],"summary":"重置购物车商品","operationId":"resetCart","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCartResetReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/trade/brokerage-user/bind":{"put":{"tags":["用户 APP - 分销用户"],"summary":"绑定推广员","operationId":"bindBrokerageUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppBrokerageUserBindReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/trade/brokerage-apply/resubmit":{"put":{"tags":["用户APP - 分销申请"],"summary":"重新提交分销申请（仅限审核拒绝的申请）","operationId":"resubmitApply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppBrokerageApplyResubmitReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/trade/after-sale/delivery":{"put":{"tags":["用户 App - 交易售后"],"summary":"退回货物","operationId":"deliveryAfterSale","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAfterSaleDeliveryReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/promotion/kefu-message/update-read-status":{"put":{"tags":["用户 APP - 客服消息"],"summary":"更新客服消息已读状态","operationId":"updateKefuMessageReadStatus","parameters":[{"name":"conversationId","in":"query","description":"会话编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/promotion/banner/add-browse-count":{"put":{"tags":["用户 APP - 首页 Banner"],"summary":"增加 Banner 点击量","operationId":"addBrowseCount","parameters":[{"name":"id","in":"query","description":"Banner 编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1024}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/promotion/article/add-browse-count":{"put":{"tags":["用户 APP - 文章"],"summary":"增加文章浏览量","operationId":"addBrowseCount_1","parameters":[{"name":"id","in":"query","description":"文章编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1024}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/user/update":{"put":{"tags":["用户 APP - 用户个人中心"],"summary":"修改基本信息","operationId":"updateUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppMemberUserUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/user/update-password":{"put":{"tags":["用户 APP - 用户个人中心"],"summary":"修改用户密码","description":"用户修改密码时使用","operationId":"updateUserPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppMemberUserUpdatePasswordReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/user/update-mobile":{"put":{"tags":["用户 APP - 用户个人中心"],"summary":"修改用户手机","operationId":"updateUserMobile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppMemberUserUpdateMobileReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/user/update-mobile-by-weixin":{"put":{"tags":["用户 APP - 用户个人中心"],"summary":"基于微信小程序的授权码，修改用户手机","operationId":"updateUserMobileByWeixin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppMemberUserUpdateMobileByWeixinReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/user/reset-password":{"put":{"tags":["用户 APP - 用户个人中心"],"summary":"重置密码","description":"用户忘记密码时使用","operationId":"resetUserPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppMemberUserResetPasswordReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/brokerage-customer/update":{"put":{"tags":["用户 APP - 分销客户档案"],"summary":"编辑客户档案（分销员可编辑部分：客户昵称、生日、状态、偏好、兴趣、备注）","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppBrokerageCustomerUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/address/update":{"put":{"tags":["用户 APP - 用户收件地址"],"summary":"更新用户收件地址","operationId":"updateAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAddressUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/promoter/update":{"put":{"tags":["管理后台 - 推广员"],"summary":"更新推广员","operationId":"updatePromoter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromoterUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/promoter/transfer-team":{"put":{"tags":["管理后台 - 推广员"],"summary":"转移推广员到新团队","operationId":"transferTeam","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"teamCode","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/promoter/disable":{"put":{"tags":["管理后台 - 推广员"],"summary":"禁用推广员","operationId":"disablePromoter","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/promoter-team/update":{"put":{"tags":["管理后台 - 推广团队"],"summary":"更新团队","operationId":"updateTeam","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromoterTeamUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/promoter-team/set-leader":{"put":{"tags":["管理后台 - 推广团队"],"summary":"设置团队负责人","operationId":"setTeamLeader","parameters":[{"name":"teamId","in":"query","description":"团队编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"leaderId","in":"query","description":"负责人ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/order/update-remark":{"put":{"tags":["管理后台 - 交易订单"],"summary":"订单备注","operationId":"updateOrderRemark","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeOrderRemarkReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/order/update-price":{"put":{"tags":["管理后台 - 交易订单"],"summary":"订单调价","operationId":"updateOrderPrice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeOrderUpdatePriceReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/order/update-address":{"put":{"tags":["管理后台 - 交易订单"],"summary":"修改订单收货地址","operationId":"updateOrderAddress_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeOrderUpdateAddressReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/order/pick-up-by-verify-code":{"put":{"tags":["管理后台 - 交易订单"],"summary":"订单核销","operationId":"pickUpOrderByVerifyCode","parameters":[{"name":"pickUpVerifyCode","in":"query","description":"自提核销码","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/order/pick-up-by-id":{"put":{"tags":["管理后台 - 交易订单"],"summary":"订单核销","operationId":"pickUpOrderById","parameters":[{"name":"id","in":"query","description":"交易订单编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/order/delivery":{"put":{"tags":["管理后台 - 交易订单"],"summary":"订单发货","operationId":"deliveryOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeOrderDeliveryReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/order/cancel":{"put":{"tags":["管理后台 - 交易订单"],"summary":"管理员取消订单","operationId":"cancelOrder","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"cancelReason","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/delivery/pick-up-store/update":{"put":{"tags":["管理后台 - 自提门店"],"summary":"更新自提门店","operationId":"updateDeliveryPickUpStore","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryPickUpStoreUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/delivery/express/update":{"put":{"tags":["管理后台 - 快递公司"],"summary":"更新快递公司","operationId":"updateDeliveryExpress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryExpressUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/delivery/express-template/update":{"put":{"tags":["管理后台 - 快递运费模板"],"summary":"更新快递运费模板","operationId":"updateDeliveryExpressTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryExpressTemplateUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/config/save":{"put":{"tags":["管理后台 - 交易中心配置"],"summary":"更新交易中心配置","operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TradeConfigSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/brokerage-withdraw/reject":{"put":{"tags":["管理后台 - 佣金提现"],"summary":"驳回申请","operationId":"rejectBrokerageWithdraw","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrokerageWithdrawRejectReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/brokerage-withdraw/approve":{"put":{"tags":["管理后台 - 佣金提现"],"summary":"通过申请","operationId":"approveBrokerageWithdraw","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/brokerage-withdraw-config/update":{"put":{"tags":["管理后台 - 佣金提现配置"],"summary":"更新佣金提现配置","operationId":"updateBrokerageWithdrawConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrokerageWithdrawConfigUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/brokerage-user/update-brokerage-enable":{"put":{"tags":["管理后台 - 分销用户（推广统计）"],"summary":"修改推广资格","operationId":"updateBrokerageEnabled","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrokerageUserUpdateBrokerageEnabledReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/brokerage-user/update-bind-user":{"put":{"tags":["管理后台 - 分销用户（推广统计）"],"summary":"修改推广员","operationId":"updateBindUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrokerageUserUpdateBrokerageUserReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/brokerage-user/clear-bind-user":{"put":{"tags":["管理后台 - 分销用户（推广统计）"],"summary":"清除推广员","operationId":"clearBindUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrokerageUserClearBrokerageUserReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/after-sale/refuse":{"put":{"tags":["管理后台 - 售后订单"],"summary":"拒绝收货","operationId":"refuseAfterSale","parameters":[{"name":"id","in":"query","description":"售后编号","required":true,"schema":{"type":"integer","format":"int64","description":"售后编号","example":1024},"example":1},{"name":"refuseMemo","in":"query","description":"收货备注","required":true,"schema":{"type":"string","description":"收货备注","example":"你猜"},"example":"你猜"},{"name":"refundPrice","in":"query","description":"退款金额，单位：分","required":false,"schema":{"type":"integer","format":"int32","description":"退款金额，单位：分","example":100},"example":100}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/after-sale/refund":{"put":{"tags":["管理后台 - 售后订单"],"summary":"确认退款","operationId":"refundAfterSale","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AfterSaleRefundReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/after-sale/receive":{"put":{"tags":["管理后台 - 售后订单"],"summary":"确认收货","operationId":"receiveAfterSale","parameters":[{"name":"id","in":"query","description":"售后编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/after-sale/disagree":{"put":{"tags":["管理后台 - 售后订单"],"summary":"拒绝售后","operationId":"disagreeAfterSale","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AfterSaleDisagreeReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/after-sale/agree":{"put":{"tags":["管理后台 - 售后订单"],"summary":"同意售后","operationId":"agreeAfterSale","parameters":[{"name":"id","in":"query","description":"售后编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/user/update":{"put":{"tags":["管理后台 - 用户"],"summary":"修改用户","operationId":"updateUser_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/user/update-status":{"put":{"tags":["管理后台 - 用户"],"summary":"修改用户状态","operationId":"updateUserStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateStatusReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/user/update-password":{"put":{"tags":["管理后台 - 用户"],"summary":"重置用户密码","operationId":"updateUserPassword_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdatePasswordReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/user/profile/update":{"put":{"tags":["管理后台 - 用户个人中心"],"summary":"修改用户个人信息","operationId":"updateUserProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/user/profile/update-password":{"put":{"tags":["管理后台 - 用户个人中心"],"summary":"修改用户个人密码","operationId":"updateUserProfilePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserProfileUpdatePasswordReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/tenant/update":{"put":{"tags":["管理后台 - 租户"],"summary":"更新租户","operationId":"updateTenant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/tenant-package/update":{"put":{"tags":["管理后台 - 租户套餐"],"summary":"更新租户套餐","operationId":"updateTenantPackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantPackageSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/social-client/update":{"put":{"tags":["管理后台 - 社交客户端"],"summary":"更新社交客户端","operationId":"updateSocialClient","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialClientSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/sms-template/update":{"put":{"tags":["管理后台 - 短信模板"],"summary":"更新短信模板","operationId":"updateSmsTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsTemplateSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/sms-channel/update":{"put":{"tags":["管理后台 - 短信渠道"],"summary":"更新短信渠道","operationId":"updateSmsChannel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SmsChannelSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/role/update":{"put":{"tags":["管理后台 - 角色"],"summary":"修改角色","operationId":"updateRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/post/update":{"put":{"tags":["管理后台 - 岗位"],"summary":"修改岗位","operationId":"updatePost","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/oauth2/user/update":{"put":{"tags":["管理后台 - OAuth2.0 用户"],"summary":"更新用户基本信息","operationId":"updateUserInfo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2UserUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/oauth2-client/update":{"put":{"tags":["管理后台 - OAuth2 客户端"],"summary":"更新 OAuth2 客户端","operationId":"updateOAuth2Client","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuth2ClientSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/notify-template/update":{"put":{"tags":["管理后台 - 站内信模版"],"summary":"更新站内信模版","operationId":"updateNotifyTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotifyTemplateSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/notify-message/update-read":{"put":{"tags":["管理后台 - 我的站内信"],"summary":"标记站内信为已读","operationId":"updateNotifyMessageRead","parameters":[{"name":"ids","in":"query","description":"编号列表","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":"1024,2048"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/notify-message/update-all-read":{"put":{"tags":["管理后台 - 我的站内信"],"summary":"标记所有站内信为已读","operationId":"updateAllNotifyMessageRead","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/notice/update":{"put":{"tags":["管理后台 - 通知公告"],"summary":"修改通知公告","operationId":"updateNotice","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NoticeSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/menu/update":{"put":{"tags":["管理后台 - 菜单"],"summary":"修改菜单","operationId":"updateMenu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuSaveVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/mail-template/update":{"put":{"tags":["管理后台 - 邮件模版"],"summary":"修改邮件模版","operationId":"updateMailTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailTemplateSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/mail-account/update":{"put":{"tags":["管理后台 - 邮箱账号"],"summary":"修改邮箱账号","operationId":"updateMailAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailAccountSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/dict-type/update":{"put":{"tags":["管理后台 - 字典类型"],"summary":"修改字典类型","operationId":"updateDictType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictTypeSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/dict-data/update":{"put":{"tags":["管理后台 - 字典数据"],"summary":"修改字典数据","operationId":"updateDictData","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictDataSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/dept/update":{"put":{"tags":["管理后台 - 部门"],"summary":"更新部门","operationId":"updateDept","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeptSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/seckill-config/update":{"put":{"tags":["管理后台 - 秒杀时段"],"summary":"更新秒杀时段","operationId":"updateSeckillConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeckillConfigUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/seckill-config/update-status":{"put":{"tags":["管理后台 - 秒杀时段"],"summary":"修改时段配置状态","operationId":"updateSeckillConfigStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeckillConfigUpdateStatusReqVo"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/seckill-activity/update":{"put":{"tags":["管理后台 - 秒杀活动"],"summary":"更新秒杀活动","operationId":"updateSeckillActivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SeckillActivityUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/seckill-activity/close":{"put":{"tags":["管理后台 - 秒杀活动"],"summary":"关闭秒杀活动","operationId":"closeSeckillActivity","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/reward-activity/update":{"put":{"tags":["管理后台 - 满减送活动"],"summary":"更新满减送活动","operationId":"updateRewardActivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RewardActivityUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/reward-activity/close":{"put":{"tags":["管理后台 - 满减送活动"],"summary":"关闭满减送活动","operationId":"closeRewardActivity","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/point-coupon-exchange/update":{"put":{"tags":["管理后台 - 积分兑换优惠券"],"summary":"更新积分兑换优惠券配置","operationId":"updatePointCouponExchange","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PointCouponExchangeSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/point-coupon-exchange/update-status":{"put":{"tags":["管理后台 - 积分兑换优惠券"],"summary":"更新积分兑换优惠券配置状态","operationId":"updatePointCouponExchangeStatus","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/point-activity/update":{"put":{"tags":["管理后台 - 积分商城活动"],"summary":"更新积分商城活动","operationId":"updatePointActivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PointActivitySaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/point-activity/close":{"put":{"tags":["管理后台 - 积分商城活动"],"summary":"关闭积分商城活动","operationId":"closeSeckillActivity_1","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/kefu-message/update-read-status":{"put":{"tags":["管理后台 - 客服消息"],"summary":"更新客服消息已读状态","operationId":"updateKeFuMessageReadStatus","parameters":[{"name":"conversationId","in":"query","description":"会话编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/kefu-conversation/update-conversation-pinned":{"put":{"tags":["管理后台 - 客服会话"],"summary":"置顶/取消置顶客服会话","operationId":"updateConversationPinned","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KeFuConversationUpdatePinnedReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/diy-template/use":{"put":{"tags":["管理后台 - 装修模板"],"summary":"使用装修模板","operationId":"useDiyTemplate","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/diy-template/update":{"put":{"tags":["管理后台 - 装修模板"],"summary":"更新装修模板","operationId":"updateDiyTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiyTemplateUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/diy-template/update-property":{"put":{"tags":["管理后台 - 装修模板"],"summary":"更新装修模板属性","operationId":"updateDiyTemplateProperty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiyTemplatePropertyUpdateRequestVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/diy-page/update":{"put":{"tags":["管理后台 - 装修页面"],"summary":"更新装修页面","operationId":"updateDiyPage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiyPageUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/diy-page/update-property":{"put":{"tags":["管理后台 - 装修页面"],"summary":"更新装修页面属性","operationId":"updateDiyPageProperty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiyPagePropertyUpdateRequestVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/discount-activity/update":{"put":{"tags":["管理后台 - 限时折扣活动"],"summary":"更新限时折扣活动","operationId":"updateDiscountActivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiscountActivityUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/discount-activity/close":{"put":{"tags":["管理后台 - 限时折扣活动"],"summary":"关闭限时折扣活动","operationId":"closeRewardActivity_1","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/coupon-template/update":{"put":{"tags":["管理后台 - 优惠劵模板"],"summary":"更新优惠劵模板","operationId":"updateCouponTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponTemplateUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/coupon-template/update-status":{"put":{"tags":["管理后台 - 优惠劵模板"],"summary":"更新优惠劵模板状态","operationId":"updateCouponTemplateStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CouponTemplateUpdateStatusReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/combination-activity/update":{"put":{"tags":["管理后台 - 拼团活动"],"summary":"更新拼团活动","operationId":"updateCombinationActivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CombinationActivityUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/combination-activity/close":{"put":{"tags":["管理后台 - 拼团活动"],"summary":"关闭拼团活动","operationId":"closeCombinationActivity","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/bargain-activity/update":{"put":{"tags":["管理后台 - 砍价活动"],"summary":"更新砍价活动","operationId":"updateBargainActivity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BargainActivityUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/bargain-activity/close":{"put":{"tags":["管理后台 - 砍价活动"],"summary":"关闭砍价活动","operationId":"closeSeckillActivity_2","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/banner/update":{"put":{"tags":["管理后台 - Banner 管理"],"summary":"更新 Banner","operationId":"updateBanner","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BannerUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/article/update":{"put":{"tags":["管理后台 - 文章管理"],"summary":"更新文章管理","operationId":"updateArticle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/promotion/article-category/update":{"put":{"tags":["管理后台 - 文章分类"],"summary":"更新文章分类","operationId":"updateArticleCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArticleCategoryUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/product/spu/update":{"put":{"tags":["管理后台 - 商品 SPU"],"summary":"更新商品 SPU","operationId":"updateSpu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSpuSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/product/spu/update-status":{"put":{"tags":["管理后台 - 商品 SPU"],"summary":"更新商品 SPU Status","operationId":"updateStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductSpuUpdateStatusReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/product/recommend/update":{"put":{"tags":["管理后台 - 推荐商品"],"summary":"更新推荐商品","operationId":"updateRecommend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRecommendSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/product/property/value/update":{"put":{"tags":["管理后台 - 商品属性值"],"summary":"更新属性值","operationId":"updatePropertyValue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductPropertyValueSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/product/property/update":{"put":{"tags":["管理后台 - 商品属性项"],"summary":"更新属性项","operationId":"updateProperty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductPropertySaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/product/comment/update-visible":{"put":{"tags":["管理后台 - 商品评价"],"summary":"显示 / 隐藏评论","operationId":"updateCommentVisible","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCommentUpdateVisibleReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/product/comment/reply":{"put":{"tags":["管理后台 - 商品评价"],"summary":"商家回复","operationId":"commentReply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCommentReplyReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/product/category/update":{"put":{"tags":["管理后台 - 商品分类"],"summary":"更新商品分类","operationId":"updateCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCategorySaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/product/brand/update":{"put":{"tags":["管理后台 - 商品品牌"],"summary":"更新品牌","operationId":"updateBrand","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductBrandUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/pay/wallet/update-balance":{"put":{"tags":["管理后台 - 用户钱包"],"summary":"更新会员用户余额","operationId":"updateWalletBalance","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayWalletUpdateBalanceReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/pay/wallet-recharge-package/update":{"put":{"tags":["管理后台 - 钱包充值套餐"],"summary":"更新钱包充值套餐","operationId":"updateWalletRechargePackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WalletRechargePackageUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/pay/demo-order/refund":{"put":{"tags":["管理后台 - 示例订单"],"summary":"发起示例订单的退款","operationId":"refundDemoOrder","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1024}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/pay/channel/update":{"put":{"tags":["管理后台 - 支付渠道"],"summary":"更新支付渠道 ","operationId":"updateChannel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayChannelUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/pay/app/update":{"put":{"tags":["管理后台 - 支付应用信息"],"summary":"更新支付应用信息","operationId":"updateApp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayAppUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/pay/app/update-status":{"put":{"tags":["管理后台 - 支付应用信息"],"summary":"更新支付应用状态","operationId":"updateAppStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayAppUpdateStatusReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/mp/user/update":{"put":{"tags":["管理后台 - 公众号粉丝"],"summary":"更新公众号粉丝","operationId":"updateUser_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MpUserUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/mp/tag/update":{"put":{"tags":["管理后台 - 公众号标签"],"summary":"更新公众号标签","operationId":"updateTag","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MpTagUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/mp/draft/update":{"put":{"tags":["管理后台 - 公众号草稿"],"summary":"更新草稿","operationId":"deleteDraft","parameters":[{"name":"accountId","in":"query","description":"公众号账号的编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1024},{"name":"mediaId","in":"query","description":"草稿素材的编号","required":true,"schema":{"type":"string"},"example":"xxx"}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/WxMpDraftArticles"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/mp/auto-reply/update":{"put":{"tags":["管理后台 - 公众号自动回复"],"summary":"更新公众号自动回复","operationId":"updateAutoReply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MpAutoReplyUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/mp/account/update":{"put":{"tags":["管理后台 - 公众号账号"],"summary":"更新公众号账号","operationId":"updateAccount","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MpAccountUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/mp/account/generate-qr-code":{"put":{"tags":["管理后台 - 公众号账号"],"summary":"生成公众号二维码","operationId":"generateAccountQrCode","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/mp/account/clear-quota":{"put":{"tags":["管理后台 - 公众号账号"],"summary":"清空公众号 API 配额","operationId":"clearAccountQuota","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/wording/update":{"put":{"tags":["管理后台 - 会员话术"],"summary":"更新话术","operationId":"updateWording","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberWordingUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/wording-category/update":{"put":{"tags":["管理后台 - 话术分类"],"summary":"更新话术分类","operationId":"updateCategory_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberWordingCategoryUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/user/update":{"put":{"tags":["管理后台 - 会员用户"],"summary":"更新会员用户","operationId":"updateUser_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberUserUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/user/update-point":{"put":{"tags":["管理后台 - 会员用户"],"summary":"更新会员用户积分","operationId":"updateUserPoint","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberUserUpdatePointReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/user/update-level":{"put":{"tags":["管理后台 - 会员用户"],"summary":"更新会员用户等级","operationId":"updateUserLevel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberUserUpdateLevelReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/tag/update":{"put":{"tags":["管理后台 - 会员标签"],"summary":"更新会员标签","operationId":"updateTag_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberTagUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/sign-in/config/update":{"put":{"tags":["管理后台 - 签到规则"],"summary":"更新签到规则","operationId":"updateSignInConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberSignInConfigUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/rights/update":{"put":{"tags":["管理后台 - 会员权益"],"summary":"更新会员权益","operationId":"update_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberRightsUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/level/update":{"put":{"tags":["管理后台 - 会员等级"],"summary":"更新会员等级","operationId":"updateLevel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberLevelUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/group/update":{"put":{"tags":["管理后台 - 用户分组"],"summary":"更新用户分组","operationId":"updateGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberGroupUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/fans-tag/update":{"put":{"tags":["管理后台 - 粉丝标签"],"summary":"更新标签","operationId":"update_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberFansTagUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/fans-tag-group/update":{"put":{"tags":["管理后台 - 粉丝标签组"],"summary":"更新标签组","operationId":"update_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberFansTagGroupUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member/config/save":{"put":{"tags":["管理后台 - 会员设置"],"summary":"保存会员配置","operationId":"saveConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberConfigSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/member-invite/config/update":{"put":{"tags":["管理后台 - 会员邀请配置"],"summary":"更新邀请配置","operationId":"updateConfig_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberInviteConfigUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/job/update":{"put":{"tags":["管理后台 - 定时任务"],"summary":"更新定时任务","operationId":"updateJob","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/job/update-status":{"put":{"tags":["管理后台 - 定时任务"],"summary":"更新定时任务的状态","operationId":"updateJobStatus","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1024},{"name":"status","in":"query","description":"状态","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/job/trigger":{"put":{"tags":["管理后台 - 定时任务"],"summary":"触发定时任务","operationId":"triggerJob","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1024}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/file-config/update":{"put":{"tags":["管理后台 - 文件配置"],"summary":"更新文件配置","operationId":"updateFileConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileConfigSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/file-config/update-master":{"put":{"tags":["管理后台 - 文件配置"],"summary":"更新文件配置为 Master","operationId":"updateFileConfigMaster","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/demo03-student-normal/update":{"put":{"tags":["管理后台 - 学生"],"summary":"更新学生","operationId":"updateDemo03Student","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Demo03StudentNormalSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/demo03-student-inner/update":{"put":{"tags":["管理后台 - 学生"],"summary":"更新学生","operationId":"updateDemo03Student_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Demo03StudentInnerSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/demo03-student-erp/update":{"put":{"tags":["管理后台 - 学生"],"summary":"更新学生","operationId":"updateDemo03Student_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Demo03StudentErpSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/demo03-student-erp/demo03-grade/update":{"put":{"tags":["管理后台 - 学生"],"summary":"更新学生班级","operationId":"updateDemo03Grade","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Demo03GradeDO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/demo03-student-erp/demo03-course/update":{"put":{"tags":["管理后台 - 学生"],"summary":"更新学生课程","operationId":"updateDemo03Course","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Demo03CourseDO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/demo02-category/update":{"put":{"tags":["管理后台 - 示例分类"],"summary":"更新示例分类","operationId":"updateDemo02Category","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Demo02CategorySaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/demo01-contact/update":{"put":{"tags":["管理后台 - 示例联系人"],"summary":"更新示例联系人","operationId":"updateDemo01Contact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Demo01ContactSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/data-source-config/update":{"put":{"tags":["管理后台 - 数据源配置"],"summary":"更新数据源配置","operationId":"updateDataSourceConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataSourceConfigSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/config/update":{"put":{"tags":["管理后台 - 参数配置"],"summary":"修改参数配置","operationId":"updateConfig_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/codegen/update":{"put":{"tags":["管理后台 - 代码生成器"],"summary":"更新数据库的表和字段定义","operationId":"updateCodegen","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodegenUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/codegen/sync-from-db":{"put":{"tags":["管理后台 - 代码生成器"],"summary":"基于数据库的表结构，同步数据库的表和字段定义","operationId":"syncCodegenFromDB","parameters":[{"name":"tableId","in":"query","description":"表编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1024}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/infra/api-error-log/update-status":{"put":{"tags":["管理后台 - API 错误日志"],"summary":"更新 API 错误日志的状态","operationId":"updateApiErrorLogProcess","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1024},{"name":"processStatus","in":"query","description":"处理状态","required":true,"schema":{"type":"integer","format":"int32"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/receivable/update":{"put":{"tags":["管理后台 - CRM 回款"],"summary":"更新回款","operationId":"updateReceivable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmReceivableSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/receivable/submit":{"put":{"tags":["管理后台 - CRM 回款"],"summary":"提交回款审批","operationId":"submitContract","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/receivable-plan/update":{"put":{"tags":["管理后台 - CRM 回款计划"],"summary":"更新回款计划","operationId":"updateReceivablePlan","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmReceivablePlanSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/product/update":{"put":{"tags":["管理后台 - CRM 产品"],"summary":"更新产品","operationId":"updateProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmProductSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/product-category/update":{"put":{"tags":["管理后台 - CRM 产品分类"],"summary":"更新产品分类","operationId":"updateProductCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmProductCategoryCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/permission/update":{"put":{"tags":["管理后台 - CRM 数据权限"],"summary":"编辑数据权限","operationId":"updatePermission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmPermissionUpdateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/customer/update":{"put":{"tags":["管理后台 - CRM 客户"],"summary":"更新客户","operationId":"updateCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmCustomerSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/customer/update-deal-status":{"put":{"tags":["管理后台 - CRM 客户"],"summary":"更新客户的成交状态","operationId":"updateCustomerDealStatus","parameters":[{"name":"id","in":"query","description":"客户编号","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"dealStatus","in":"query","description":"成交状态","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/customer/transfer":{"put":{"tags":["管理后台 - CRM 客户"],"summary":"转移客户","operationId":"transferCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmCustomerTransferReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/customer/receive":{"put":{"tags":["管理后台 - CRM 客户"],"summary":"领取公海客户","operationId":"receiveCustomer","parameters":[{"name":"ids","in":"query","description":"编号数组","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":"1,2,3"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/customer/put-pool":{"put":{"tags":["管理后台 - CRM 客户"],"summary":"数据放入公海","operationId":"putCustomerPool","parameters":[{"name":"id","in":"query","description":"客户编号","required":true,"schema":{"type":"integer","format":"int64"},"example":1024}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/customer/lock":{"put":{"tags":["管理后台 - CRM 客户"],"summary":"锁定/解锁客户","operationId":"lockCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmCustomerLockReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/customer/distribute":{"put":{"tags":["管理后台 - CRM 客户"],"summary":"分配公海给对应负责人","operationId":"distributeCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmCustomerDistributeReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/customer-pool-config/save":{"put":{"tags":["管理后台 - CRM 客户公海配置"],"summary":"更新客户公海规则设置","operationId":"saveCustomerPoolConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmCustomerPoolConfigSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/customer-limit-config/update":{"put":{"tags":["管理后台 - CRM 客户限制配置"],"summary":"更新客户限制配置","operationId":"updateCustomerLimitConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmCustomerLimitConfigSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/contract/update":{"put":{"tags":["管理后台 - CRM 合同"],"summary":"更新合同","operationId":"updateContract","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmContractSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/contract/transfer":{"put":{"tags":["管理后台 - CRM 合同"],"summary":"合同转移","operationId":"transferContract","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmContractTransferReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/contract/submit":{"put":{"tags":["管理后台 - CRM 合同"],"summary":"提交合同审批","operationId":"submitContract_1","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/contract-config/save":{"put":{"tags":["管理后台 - CRM 合同配置"],"summary":"更新合同配置","operationId":"saveCustomerPoolConfig_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmContractConfigSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/contact/update":{"put":{"tags":["管理后台 - CRM 联系人"],"summary":"更新联系人","operationId":"updateContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmContactSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/contact/transfer":{"put":{"tags":["管理后台 - CRM 联系人"],"summary":"联系人转移","operationId":"transferContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmContactTransferReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/clue/update":{"put":{"tags":["管理后台 - 线索"],"summary":"更新线索","operationId":"updateClue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmClueSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/clue/transform":{"put":{"tags":["管理后台 - 线索"],"summary":"线索转化为客户","operationId":"transformClue","parameters":[{"name":"id","in":"query","description":"编号","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/clue/transfer":{"put":{"tags":["管理后台 - 线索"],"summary":"线索转移","operationId":"transferClue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmClueTransferReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/business/update":{"put":{"tags":["管理后台 - CRM 商机"],"summary":"更新商机","operationId":"updateBusiness","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmBusinessSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/business/update-status":{"put":{"tags":["管理后台 - CRM 商机"],"summary":"更新商机状态","operationId":"updateBusinessStatus","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmBusinessUpdateStatusReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/business/transfer":{"put":{"tags":["管理后台 - CRM 商机"],"summary":"商机转移","operationId":"transferBusiness","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmBusinessTransferReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/crm/business-status/update":{"put":{"tags":["管理后台 - CRM 商机状态"],"summary":"更新商机状态","operationId":"updateBusinessStatus_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrmBusinessStatusSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/user-group/update":{"put":{"tags":["管理后台 - 用户组"],"summary":"更新用户组","operationId":"updateUserGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmUserGroupSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/task/withdraw":{"put":{"tags":["管理后台 - 流程任务实例"],"summary":"撤回任务","operationId":"withdrawTask","parameters":[{"name":"taskId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/task/transfer":{"put":{"tags":["管理后台 - 流程任务实例"],"summary":"转派任务","description":"用于【流程详情】的【转派】按钮","operationId":"transferTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmTaskTransferReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/task/return":{"put":{"tags":["管理后台 - 流程任务实例"],"summary":"退回任务","description":"用于【流程详情】的【退回】按钮","operationId":"returnTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmTaskReturnReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/task/reject":{"put":{"tags":["管理后台 - 流程任务实例"],"summary":"不通过任务","operationId":"rejectTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmTaskRejectReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/task/delegate":{"put":{"tags":["管理后台 - 流程任务实例"],"summary":"委派任务","description":"用于【流程详情】的【委派】按钮","operationId":"delegateTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmTaskDelegateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/task/create-sign":{"put":{"tags":["管理后台 - 流程任务实例"],"summary":"加签","description":"before 前加签，after 后加签","operationId":"createSignTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmTaskSignCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/task/copy":{"put":{"tags":["管理后台 - 流程任务实例"],"summary":"抄送任务","operationId":"copyTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmTaskCopyReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/task/approve":{"put":{"tags":["管理后台 - 流程任务实例"],"summary":"通过任务","operationId":"approveTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmTaskApproveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/process-listener/update":{"put":{"tags":["管理后台 - BPM 流程监听器"],"summary":"更新流程监听器","operationId":"updateProcessListener","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmProcessListenerSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/process-expression/update":{"put":{"tags":["管理后台 - BPM 流程表达式"],"summary":"更新流程表达式","operationId":"updateProcessExpression","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmProcessExpressionSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/model/update":{"put":{"tags":["管理后台 - 流程模型"],"summary":"修改模型","operationId":"updateModel","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmModelSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/model/update-state":{"put":{"tags":["管理后台 - 流程模型"],"summary":"修改模型的状态","description":"实际更新的部署的流程定义的状态","operationId":"updateModelState","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmModelUpdateStateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/model/update-sort-batch":{"put":{"tags":["管理后台 - 流程模型"],"summary":"批量修改模型排序","operationId":"updateModelSortBatch","parameters":[{"name":"ids","in":"query","description":"编号数组","required":true,"schema":{"type":"array","items":{"type":"string"}},"example":"1,2,3"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/model/update-bpmn":{"put":{"tags":["管理后台 - 流程模型"],"summary":"修改模型的 BPMN","operationId":"updateModelBpmn","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmModeUpdateBpmnReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}},"deprecated":true}},"/admin-api/bpm/form/update":{"put":{"tags":["管理后台 - 动态表单"],"summary":"更新动态表单","operationId":"updateForm","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmFormSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/category/update":{"put":{"tags":["管理后台 - BPM 流程分类"],"summary":"更新流程分类","operationId":"updateCategory_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BpmCategorySaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/bpm/category/update-sort-batch":{"put":{"tags":["管理后台 - BPM 流程分类"],"summary":"批量更新流程分类的排序","operationId":"updateCategorySortBatch","parameters":[{"name":"ids","in":"query","description":"分类编号列表","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":"1,2,3"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/easyTrans/proxy/{targetClass}/findByIds":{"post":{"tags":["trans-proxy-controller"],"operationId":"findByIds","parameters":[{"name":"targetClass","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindByIdsQueryPayload"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{}}}}}}}},"/app-api/trade/promoter/bind":{"post":{"tags":["用户 APP - 推广员"],"summary":"绑定推广员","operationId":"bindPromoter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPromoterBindReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/trade/order/update-paid":{"post":{"tags":["用户 App - 交易订单"],"summary":"更新订单为已支付","operationId":"updateOrderPaid","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayOrderNotifyReqDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/trade/order/item/create-comment":{"post":{"tags":["用户 App - 交易订单"],"summary":"创建交易订单项的评价","operationId":"createOrderItemComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppTradeOrderItemCommentCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/trade/order/create":{"post":{"tags":["用户 App - 交易订单"],"summary":"创建订单","operationId":"createOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppTradeOrderCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppTradeOrderCreateRespVO"}}}}}}},"/app-api/trade/cart/add":{"post":{"tags":["用户 App - 购物车"],"summary":"添加购物车商品","operationId":"addCart","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCartAddReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/trade/brokerage-withdraw/create":{"post":{"tags":["用户 APP - 分销提现"],"summary":"创建分销提现","operationId":"createBrokerageWithdraw","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppBrokerageWithdrawCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/trade/brokerage-share/create":{"post":{"tags":["用户APP - 分销分享"],"summary":"上报分享记录（浏览）","operationId":"createShareRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppBrokerageShareRecordCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultVoid"}}}}}}},"/app-api/trade/brokerage-apply/create":{"post":{"tags":["用户APP - 分销申请"],"summary":"提交分销申请","operationId":"createApply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppBrokerageApplyCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/trade/after-sale/create":{"post":{"tags":["用户 App - 交易售后"],"summary":"申请售后","operationId":"createAfterSale","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAfterSaleCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/promotion/point-coupon-exchange/exchange":{"post":{"tags":["用户 App - 积分兑换优惠券"],"summary":"积分兑换优惠券","operationId":"exchangeCoupon","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPointCouponExchangeReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppPointCouponExchangeResultRespVO"}}}}}}},"/app-api/promotion/kefu-message/send":{"post":{"tags":["用户 APP - 客服消息"],"summary":"发送客服消息","operationId":"sendKefuMessage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppKeFuMessageSendReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/promotion/coupon/take":{"post":{"tags":["用户 App - 优惠劵"],"summary":"领取优惠劵","operationId":"takeCoupon","parameters":[{"name":"templateId","in":"query","description":"优惠券模板编号","required":true,"example":1024}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppCouponTakeReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/promotion/bargain-record/create":{"post":{"tags":["用户 App - 砍价记录"],"summary":"创建砍价记录","description":"参与砍价活动","operationId":"createBargainRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppBargainRecordCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/promotion/bargain-help/create":{"post":{"tags":["用户 App - 砍价助力"],"summary":"创建砍价助力","description":"给拼团记录砍一刀","operationId":"createBargainHelp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppBargainHelpCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultInteger"}}}}}}},"/app-api/product/favorite/create":{"post":{"tags":["用户 APP - 商品收藏"],"summary":"添加商品收藏","operationId":"createFavorite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppFavoriteReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/pay/wallet-recharge/create":{"post":{"tags":["用户 APP - 钱包充值"],"summary":"创建钱包充值记录（发起充值）","operationId":"createWalletRecharge","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPayWalletRechargeCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppPayWalletRechargeCreateRespVO"}}}}}}},"/app-api/pay/order/submit":{"post":{"tags":["用户 APP - 支付订单"],"summary":"提交支付订单","operationId":"submitPayOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppPayOrderSubmitReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppPayOrderSubmitRespVO"}}}}}}},"/app-api/member/wording/send":{"post":{"tags":["用户 App - 话术库"],"summary":"发送话术（含每日限流校验）","operationId":"sendWording","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberWordingSendReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultMapStringObject"}}}}}}},"/app-api/member/wording/send-batch":{"post":{"tags":["用户 App - 话术库"],"summary":"批量发送话术（先全部写库，后异步发送，结果不影响业务返回）","operationId":"batchSendWording","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberWordingBatchSendReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultMapStringObject"}}}}}}},"/app-api/member/wording/preview":{"post":{"tags":["用户 App - 话术库"],"summary":"预览话术（参数自动解析替换）","operationId":"previewWording","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MemberWordingPreviewReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultMapStringObject"}}}}}}},"/app-api/member/social-user/wxa-qrcode":{"post":{"tags":["用户 App - 社交用户"],"summary":"获得微信小程序码(base64 image)","operationId":"getWxaQrcode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppSocialWxaQrcodeReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultString"}}}}}}},"/app-api/member/social-user/bind":{"post":{"tags":["用户 App - 社交用户"],"summary":"社交绑定，使用 code 授权码","operationId":"socialBind","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppSocialUserBindReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultString"}}}}}}},"/app-api/member/sign-in/record/create":{"post":{"tags":["用户 App - 签到记录"],"summary":"签到","operationId":"createSignInRecord","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppMemberSignInRecordRespVO"}}}}}}},"/app-api/member/level/wallet-recharge-update-paid":{"post":{"tags":["用户 App - 会员等级"],"summary":"钱包充值成功回调（发放优惠券）","description":"由 pay-module 的通知线程 HTTP 回调触发","operationId":"walletRechargeUpdatePaid","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/level/update-paid":{"post":{"tags":["用户 App - 会员等级"],"summary":"启动会员（支付成功回调）","description":"由 pay-module 的通知线程 HTTP 回调触发","operationId":"updatePaid","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/level/activate-create":{"post":{"tags":["用户 App - 会员等级"],"summary":"创建启动会员支付（复用钱包充值）","description":"仅允许创建一次；支付成功后会自动入余额，并通过回调设置会员 level","operationId":"createActivatePay","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppMemberLevelActivateCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppMemberLevelActivateCreateRespVO"}}}}}}},"/app-api/member/auth/weixin-mini-app-login":{"post":{"tags":["用户 APP - 认证"],"summary":"微信小程序的一键登录","operationId":"weixinMiniAppLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAuthWeixinMiniAppLoginReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppAuthLoginRespVO"}}}}}}},"/app-api/member/auth/validate-sms-code":{"post":{"tags":["用户 APP - 认证"],"summary":"校验手机验证码","operationId":"validateSmsCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAuthSmsValidateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/auth/social-login":{"post":{"tags":["用户 APP - 认证"],"summary":"社交快捷登录，使用 code 授权码","description":"适合未登录的用户，但是社交账号已绑定用户","operationId":"socialLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAuthSocialLoginReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppAuthLoginRespVO"}}}}}}},"/app-api/member/auth/sms-login":{"post":{"tags":["用户 APP - 认证"],"summary":"使用手机 + 验证码登录","operationId":"smsLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAuthSmsLoginReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppAuthLoginRespVO"}}}}}}},"/app-api/member/auth/send-sms-code":{"post":{"tags":["用户 APP - 认证"],"summary":"发送手机验证码","operationId":"sendSmsCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAuthSmsSendReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/auth/refresh-token":{"post":{"tags":["用户 APP - 认证"],"summary":"刷新令牌","operationId":"refreshToken","parameters":[{"name":"refreshToken","in":"query","description":"刷新令牌","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppAuthLoginRespVO"}}}}}}},"/app-api/member/auth/logout":{"post":{"tags":["用户 APP - 认证"],"summary":"登出系统","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/app-api/member/auth/login":{"post":{"tags":["用户 APP - 认证"],"summary":"使用手机 + 密码登录","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAuthLoginReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppAuthLoginRespVO"}}}}}}},"/app-api/member/auth/create-weixin-jsapi-signature":{"post":{"tags":["用户 APP - 认证"],"summary":"创建微信 JS SDK 初始化所需的签名","description":"参考 https://developers.weixin.qq.com/doc/offiaccount/OA_Web_Apps/JS-SDK.html 文档","operationId":"createWeixinMpJsapiSignature","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultSocialWxJsapiSignatureRespDTO"}}}}}}},"/app-api/member/address/create":{"post":{"tags":["用户 APP - 用户收件地址"],"summary":"创建用户收件地址","operationId":"createAddress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppAddressCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/app-api/member-invite/weixin-mini-app-login":{"post":{"tags":["用户 APP - 会员邀请注册"],"summary":"微信小程序邀请注册","operationId":"weixinMiniAppInviteLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppMemberInviteWeixinLoginReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppAuthLoginRespVO"}}}}}}},"/app-api/member-invite/sms-login":{"post":{"tags":["用户 APP - 会员邀请注册"],"summary":"短信验证码邀请注册","operationId":"smsInviteLogin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppMemberInviteSmsLoginReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultAppAuthLoginRespVO"}}}}}}},"/app-api/infra/file/upload":{"post":{"tags":["用户 App - 文件存储"],"summary":"上传文件","operationId":"uploadFile","parameters":[{"name":"directory","in":"query","description":"文件目录","required":false,"schema":{"type":"string","description":"文件目录","example":"XXX/YYY"},"example":"XXX/YYY"},{"name":"file","in":"query","description":"文件附件","required":true,"schema":{"type":"string","format":"binary"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultString"}}}}}}},"/app-api/infra/file/create":{"post":{"tags":["用户 App - 文件存储"],"summary":"创建文件","description":"模式二：前端上传文件：配合 presigned-url 接口，记录上传了上传的文件","operationId":"createFile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/promoter/import":{"post":{"tags":["管理后台 - 推广员"],"summary":"导入推广员列表","operationId":"importPromoterList","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromoterImportReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultPromoterImportRespVO"}}}}}}},"/admin-api/trade/promoter/create":{"post":{"tags":["管理后台 - 推广员"],"summary":"创建推广员","operationId":"createPromoter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromoterCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/promoter/bind":{"post":{"tags":["管理后台 - 推广员"],"summary":"创建推广绑定关系","operationId":"createPromoterBind","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromoterBindCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/promoter-team/create":{"post":{"tags":["管理后台 - 推广团队"],"summary":"创建团队（自动生成6位编号）","operationId":"createTeam","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromoterTeamCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/delivery/pick-up-store/create":{"post":{"tags":["管理后台 - 自提门店"],"summary":"创建自提门店","operationId":"createDeliveryPickUpStore","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryPickUpStoreCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/delivery/pick-up-store/bind":{"post":{"tags":["管理后台 - 自提门店"],"summary":"绑定自提店员","operationId":"bindDeliveryPickUpStore","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryPickUpBindReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/delivery/express/create":{"post":{"tags":["管理后台 - 快递公司"],"summary":"创建快递公司","operationId":"createDeliveryExpress","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryExpressCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/delivery/express-template/create":{"post":{"tags":["管理后台 - 快递运费模板"],"summary":"创建快递运费模板","operationId":"createDeliveryExpressTemplate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryExpressTemplateCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/brokerage-withdraw/update-transferred":{"post":{"tags":["管理后台 - 佣金提现"],"summary":"更新佣金提现的转账结果","operationId":"updateBrokerageWithdrawTransferred","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayTransferNotifyReqDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/brokerage-withdraw-config/create":{"post":{"tags":["管理后台 - 佣金提现配置"],"summary":"创建佣金提现配置","operationId":"createBrokerageWithdrawConfig","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrokerageWithdrawConfigCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/brokerage-user/create":{"post":{"tags":["管理后台 - 分销用户（推广统计）"],"summary":"创建分销用户","operationId":"createBrokerageUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrokerageUserCreateReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/brokerage-region/save":{"post":{"tags":["管理后台 - 分销区域配置"],"summary":"保存分销区域","operationId":"saveRegion","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrokerageRegionSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/trade/brokerage-region/init":{"post":{"tags":["管理后台 - 分销区域配置"],"summary":"初始化分销区域","operationId":"initRegions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/brokerage-apply/audit":{"post":{"tags":["管理后台 - 分销申请"],"summary":"审核分销申请","operationId":"auditApply","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BrokerageApplyAuditReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/trade/after-sale/update-refunded":{"post":{"tags":["管理后台 - 售后订单"],"summary":"更新售后订单为已退款","operationId":"updateAfterSaleRefunded","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PayRefundNotifyReqDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/user/import":{"post":{"tags":["管理后台 - 用户"],"summary":"导入用户","operationId":"importExcel","parameters":[{"name":"updateSupport","in":"query","description":"是否支持更新，默认为 false","required":false,"schema":{"type":"boolean","default":false},"example":true},{"name":"file","in":"query","description":"Excel 文件","required":true}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultUserImportRespVO"}}}}}}},"/admin-api/system/user/create":{"post":{"tags":["管理后台 - 用户"],"summary":"新增用户","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/system/tenant/create":{"post":{"tags":["管理后台 - 租户"],"summary":"创建租户","operationId":"createTenant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/system/tenant-package/create":{"post":{"tags":["管理后台 - 租户套餐"],"summary":"创建租户套餐","operationId":"createTenantPackage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantPackageSaveReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultLong"}}}}}}},"/admin-api/system/social-user/bind":{"post":{"tags":["管理后台 - 社交用户"],"summary":"社交绑定，使用 code 授权码","operationId":"socialBind_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SocialUserBindReqVO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommonResultBoolean"}}}}}}},"/admin-api/system/social-client/wxa-qrcode":{"post":{"tags":["管理后台 - 社交客户端"],"summary":"生成小程序码","operationId":
[...]
